<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Service</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <i>Fill out the form. Asterisk (*) means require</i>
    <br>

    <!-- action = url for send data -->
    <!-- object = model attribute name -->
    <form th:action="@{/customer/processForm}" th:object="${customer}" method="post">
        <!-- field คือ prop name จาก model customer class -->
        First name: <input type="text" th:field="*{firstName}">
        <br>
        Last name (*): <input type="text" th:field="*{lastName}">

        <!-- เพิ่ม error message ถ้าหากมี -->
        <!-- thymaleaf สามาถเพิ่มเงื่อนไขได้โดยใช้ th:if{} -->
        <!-- errors คือ ใช้สสำหรับแสดง error ของ props -->
        <!-- #fields.hasErrors('lastName') ใช้ดูว่า props นั้นมี error ไหม -->
        <span 
            th:if="${#fields.hasErrors('lastName')}" 
            th:errors="*{lastName}"
            class="error"
        ></span>
        <br>

        Free passes: <input type="text" th:field="*{freePasses}">
        <span th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="error"></span>
        <br>

        Potal code: <input type="text" th:field="*{postalCode}">
        <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error"></span>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>